extends layout

block content
    body
        div(class='container')
            div(id='sideA')
                h2 Side A
                p #{cardData[0].sideA}
            script.
                function showHidden() {
                    document.getElementById('sideB').style.display=('block')
                    document.getElementById('nextCardLink').style.display=('block')
                    document.getElementById('sideBbutton').style.display=('none')
                    document.getElementById('nextCardCatLink').style.display=('block')
                    }
                    
            button(href='#' id='sideBbutton' onclick='showHidden()') Show Side B
            div(id='sideB')
                h2 Side B
                p #{cardData[0].sideB}
                div 
            a(id='nextCardLink' href='/random/') Get a new card
            a(id='nextCardCatLink' href='/random/?category=' + cardData[0].category) Get a new card in the same category